<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TennisHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Products</a>
          <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="/Rackets">Rackets</a></li>
           <li><a class="dropdown-item" href="/Shoes">Shoes</a></li>
           <li><a class="dropdown-item" href="/Balls">Balls</a></li>
           </ul>
         </li>
        <li class="nav-item">
          <a class="nav-link" href="/Coaches">Coaches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactUs">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/SignUp">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/SignIn">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
