* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  body{
    background:#fff;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
  }
  .logo{
    font-size: 1.1rem;
    color: #171427;
    font-weight: 400;
  }
  .section{
    padding: 4rem 0 3rem;
  }
  .section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #171427 !important;
    margin-bottom: 1.5rem;
  }
  .shop{
    margin-top: 2rem;
    
  }
  .shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, auto)) ;
    gap: 1.5rem;
    padding-bottom: 30px;
  }
  .product-box{
    position: relative;
    padding: 20px;
  }
  .product-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .1s;
    padding: 10px;
  }
  .product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  .product-title{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom:0.5rem;
  }
  .price{
    font-weight: 500;
  }
  .add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #171427;
    color:#fff;
    padding: 10px;
    cursor: pointer;
  }
  .add-cart:hover{
    background: hsl(249,32%,17%);
  }
  .nav{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
  }
  .container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
  }
  
  .footer{
    width: 100%;
    text-align: center;
    padding:30px 0;
    background-color: #071B47;
  }
  .footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color:#C8CCD5;
  }
  .footer p{
    color: #FFFFFF;
  }
  .icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
  }