{% extends "base.html" %}
{% block title %}Tennis store - {% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wilson</title>
  <link rel="stylesheet" href="/static/wilson.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  
  
</head>
<body>
    <header class="hdr">
      <div class="nav container">
        <p class="logo">Balls</p>
        <i class="bx bx-shopping-bag" id="cart-icon"></i>
      </div>
    </header>
    <section class="shop container">
      <h2 class="section-title">Balls</h2>
      <div class="shop-content">
        <div class="product-box">
          <img src="/static/img/wilson_us_open_green_ball_24cans__1.jpg" alt="" class="product-img">
          <h2 class="product-title">Wilson US Open Green Tournament Tennis Balls (Carton of 72 Balls)</h2>
          <span class="price">SGD 144.00</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="product-box">
          <img src="/static/img/wilson_trainer_balls_bag_a__2.png" alt="" class="product-img">
          <h2 class="product-title">Wilson Trainer Balls (Bag of 60 balls)</h2>
          <span class="price">SGD 95.00</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="product-box">
          <img src="/static/img/rs_orange_b__1_1.png" alt="" class="product-img">
          <h2 class="product-title">RS Orange Edition Tennis Balls (Can of 3)</h2>
          <span class="price">SGD 7.00</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="product-box">
          <img src="/static/img/head_tour_xt_ctn_1.png" alt="" class="product-img">
          <h2 class="product-title">Head Tour XT Tennis Balls (Carton of 72 Balls)</h2>
          <span class="price">SGD 180.00</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="product-box">
          <img src="/static/img/dunlop-tennis-coaching-balls-1_1.png" alt="" class="product-img">
          <h2 class="product-title">Dunlop Coaching Balls (Bags of 60 balls)</h2>
          <span class="price">SGD 90.00</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="product-box">
          <img src="/static/img/babolat_stage_1_green_ball_carton_of_24_.png" alt="" class="product-img">
          <h2 class="product-title">Babolat Stage 1 Green Tennis Balls(Carton of 72 Balls)</h2>
          <span class="price">SGD 144.00</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="product-box">
          <img src="/static/img/rs_black_c__3.png" alt="" class="product-img">
          <h2 class="product-title">RS Black Edition Tennis Balls (Carton 72 balls : 18 x 4-Ball Cans)</h2>
          <span class="price">SGD 156.00</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="product-box">
          <img src="/static/img/dunlopao_2nd_1.png" alt="" class="product-img">
          <h2 class="product-title">Dunlop Australian Open Tennis Balls(Carton of 72)/h2>
          <span class="price">SGD 156.00</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="product-box">
          <img src="/static/img/dunlopfortelite_copy.png" alt="" class="product-img">
          <h2 class="product-title">Dunlop Fort Elite Tennis Balls(Carton of 72 Balls)</h2>
          <span class="price">SGD 156.00</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="product-box">
            <img src="/static/img/slazenger_ball_new_design_carton.png" alt="" class="product-img">
            <h2 class="product-title">Slazenger Wimbledon Tennis Balls(Carton of 72 Balls)</h2>
            <span class="price">SGD 168.00</span>
            <i class="bx bx-shopping-bag add-cart"></i>
          </div>
      </div>
    </section>
    <section class="ftr">
        <h4>About Us</h4>
        <p>The Tennis Academy was established with the philosophy of creating a new direction in local tennis coaching and junior tennis development.<br>
          We impart advanced techniques & tactics in tennis, coupled with FUN and guaranteed improvement.</p>
        <div class="icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <a href="https://instagram.com/translucien?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa fa-instagram"></i></a>
          <i class="fa fa-linkedin"></i>
        </div>
      </section>
    <script>
      var nav1 = document.getElementById("nav1");
      function showMenu(){
        nav1.style.right = "0";
      }
      function hideMenu(){
        nav1.style.right = "-200px";
      }
      const totop = () => window.scrollTo({top:0, behavior:"smooth"});
    </script>
    <script src="js/script.js"></script>
    <script src="js/formhandlertraining.js"></script>
</body>
</html>
{% endblock %}